

<section id="news" class=" content-section text-center" style="min-width:1000px">



          <h1>Noticias</h1>

          <% count = 0 %>
          		  <div class="row">
          		  <% @posts.each do |noticium| %>
          		      <div class="col-md-3 text-center container" style="margin-bottom:80px;margin-left:3%; border:2px solid grey; border-radius: 10px;">
                      <h2> <%= noticium.title %> </h2>
                      <h4> <%= noticium.downtitle %> </h4>
                      <p class=".p">  <%= truncate(noticium.body.to_s, length: 503 ) { link_to "Seguir leyendo", noticium }  %> </p>
                      <%= noticium.created_at.strftime('%d/%b/%Y %H:%M:%S') %>
                      <footer>
                      <div class="row" style="background:rgba(209, 208, 206,0.25)">
                        <div class="col-md-7" >
                          Comentarios:
                          <p class=".p"> <%=  noticium.comments.count %> </p>
                        </div>
                        <div class="col-md-3" >
                          <%= link_to "Ver", noticium %>
                        </div>

                      </div>
                    </footer>
          		      </div>
          		      <% count += 1 %>
          		      <% if count == 3%>
          		        </div>
          		        <% count = 0 %>
          		        <div class="row">
          		      <%end%>
          		  <% end %>
          		  </div>




</section>
